{% extends "base.html" %}

{% block content %}
<h1>Form Submissions</h1>

<button id="contactButton">Show Contact Form Submissions</button>
<button id="teacherButton">Show Teacher Form Submissions</button>
<button id="appointmentButton">Show Appointment Form Submissions</button>

<div id="contactForms" style="display: none;">
    <h1>Contact Form Submissions</h1>
    {% for form in contact_forms %}
        <div class="message">
            <h2>{{ form.name }}</h2>
            <p>{{ form.message }}</p>
            <p><small>Subject: {{ form.subject }}</small></p>
            <p><small>Email: {{ form.email }}</small></p>
        </div>
    {% else %}
        <p>No contact form messages yet.</p>
    {% endfor %}
</div>

<div id="teacherForms" style="display: none;">
    <h1>Teacher Form Submissions</h1>
    {% for application in applications %}
        <div class="message">
            <h2>{{ application.name }}</h2>
            <p>Email: {{ application.email }}</p>
            <p>Experience: {{ application.experience }}</p>
        </div>
    {% endfor %}
</div>

<div id="appointmentForms" style="display: none;">
    <h1>Appointment Form Submissions</h1>
    {% for form in appointment_forms %}
        <div class="message">
            <h2>{{ form.guardian_name }}</h2>
            <p>{{ form.message }}</p>
            <p><small>Child's Name: {{ form.child_name }}</small></p>
            <p><small>Child's Age: {{ form.child_age }}</small></p>
            <p><small>Email: {{ form.guardian_email }}</small></p>
        </div>
    {% else %}
        <p>No appointment form messages yet.</p>
    {% endfor %}
</div>

<script>
    document.getElementById('contactButton').addEventListener('click', function() {
        document.getElementById('contactForms').style.display = 'block';
        document.getElementById('teacherForms').style.display = 'none';
        document.getElementById('appointmentForms').style.display = 'none';
    });

    document.getElementById('teacherButton').addEventListener('click', function() {
        document.getElementById('contactForms').style.display = 'none';
        document.getElementById('teacherForms').style.display = 'block';
        document.getElementById('appointmentForms').style.display = 'none';
    });

    document.getElementById('appointmentButton').addEventListener('click', function() {
        document.getElementById('contactForms').style.display = 'none';
        document.getElementById('teacherForms').style.display = 'none';
        document.getElementById('appointmentForms').style.display = 'block';
    });
</script>
{% endblock %}