{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Temel HTML Gösterge Paneli</title>
  <style>
    .content {
      display: flex;
      justify-content: space-between;
    }
    .orders {
      width: 50%;
    }
  </style>
</head>
<body>
  <h1>Merhaba, {{ current_user.username }}</h1>

  <div class="content">
    <!-- User Update Form -->
    <div>
      <h2>Update Your Information</h2>
      <form method="POST" >
        {{ form.hidden_tag() }}
        <div>
          {{ form.username.label }}<br>
          {{ form.username(size=32) }}
        </div>
        <div>
          {{ form.Email.label }}<br>
          {{ form.Email(size=32) }}
        </div>
        <div>
          {{ form.submit() }}
        </div>
      </form>

      <!-- Change Password Link -->
      <a href="{{ url_for('app.change_password') }}">Change Password</a>
    </div>

    <!-- User Orders -->
    <!-- User Orders -->
<div class="orders">
  <h2>Your Orders</h2>
  {% for order in orders %}
    <div>
        <h3>Order ID: {{ order.id }}</h3>
        <p>Date Ordered: {{ order.date_ordered }}</p>
        <ul>
        {% for item in order.items %}
            <li>Product Name: {{ item.product.name }}, Quantity: {{ item.quantity }}</li>
        {% endfor %}
        </ul>
    </div>
  {% else %}
    <p>You have no orders.</p>
  {% endfor %}
</div>
  </div>

</body>
</html>
  
{% endblock %}