{%extends "base.html"%}
{%block title%}Facility{%endblock%}
{%block content%}
 <!-- Facilities Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">School Facilities</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="row g-4">
            {% for facility in facilities %}
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="facility-item">
                        <div class="facility-icon bg-{{ facility.color }}">
                            <span class="bg-{{ facility.color }}"></span>
                            <i class="{{ facility.icon }} fa-3x text-{{ facility.color }}"></i>
                            <span class="bg-{{ facility.color }}"></span>
                        </div>
                        <div class="facility-text bg-{{ facility.color }}">
                            <h3 class="text-{{ facility.color }} mb-3">{{ facility.name }}</h3>
                            <p class="mb-0">{{ facility.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Facilities End -->

{%endblock%}