{%extends "base.html"%}
{%block title%}Login{%endblock%}

{%block content%}
<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0; /* Add some margin to the top and bottom */
    }
    .login-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<div class="login-container">
    <form action="{{ url_for('app.login') }}" method="post">
        <h1>Login</h1>
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}
        {{form.submit}}
        <p>Don't have an account? <a href="{{ url_for('app.register') }}">Register</a></p>
    </form>
</div>
{%endblock%}