{%extends "base.html"%}
{%block title%}Testimonial{%endblock%}
{%block content%}
<!-- Testimonial Start -->
<div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
    {% for testimonial in testimonials %}
        <div class="testimonial-item bg-light rounded p-5">
            <p class="fs-5">{{ testimonial.message }}</p>
            <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                <img class="img-fluid flex-shrink-0 rounded-circle" src="{{ url_for('static', filename=testimonial.image) }}" style="width: 90px; height: 90px;">
                <div class="ps-3">
                    <h3 class="mb-1">{{ testimonial.name }}</h3>
                    <span>{{ testimonial.profession }}</span>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
            </div>
        </div>
    {% endfor %}
</div>
<!-- Testimonial End -->
{%endblock%}